@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #18230F;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.nav-container {
  position: absolute;
  right: 10px;
  top: 200px;
  height: auto;
}

.link-container a {
  color: #DCD7C9;
  font-weight: 900;
  font-style: normal;
  font-size: 300px; /* big on laptops */
  display: flex;
  justify-content: center;
  text-decoration: none;
  line-height: 200px;
  transition: all 0.3s ease;
}

.link-container a:hover {
  text-decoration: line-through;
  color: #27391C;
}

/* 🟨 iPads & tablets (portrait mode) */
@media screen and (max-width: 1024px) {
  .link-container a {
    font-size: 150px;
    line-height: 120px;
  }
}

/* 🟩 Phones */
@media screen and (max-width: 600px) {
  .link-container a {
    font-size: 70px;
    line-height: 90px;
  }
}
