@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #18230F;
    overflow-x: hidden;
}

.nav-container {
    position: absolute;
    right: 10px;
    height: 100vh;
    margin-top: 200px;
    
}

.link-container a {

    color: #DCD7C9;
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 0px;
    bottom: 0;
    padding-bottom: 0px;
    line-height: 200px;
}
.link-container a:hover{
    text-decoration: line-through;
    color: #27391C;
}